<h1>Qouting Dojo</h1>



<form action="addQoute" method="POST">
    <span>Name: </span><input name="Name">
    <span>Qoute: </span><input name="Qoute">
    <input type="submit" value="Add Qoute">

</form>

<a href="/qoutes"><button>Skip To Qoutes</button> </a>
